.image-spacing{
    margin-bottom: 20px;
}

.text-spacing{
    margin-bottom: 20px;
    margin-top: 10px;
}

.our-card{
    background-color: color-background;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #08B2E3;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

