@import "tailwindcss";

:root {
  --background: #ffffff; /* The page background color (white in light mode, dark in dark mode) */
  --foreground: #171717; /* The text color (dark in light mode, light in dark mode) */

}

/* This is a Tailwind CSS v4 directive that defines custom theme values. It maps your CSS variables to Tailwind's theme system: 
* --color-background and --color-foreground make your colors available in Tailwind
* --font-sans and --font-mono define which fonts Tailwind uses for its font-sans and font-mono utilities
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

/*
* This is a CSS media query that detects if the user's operating system is set to dark mode. When true, it automatically changes:
* Background from white (#ffffff) to near-black (#0a0a0a)
* Foreground from dark (#171717) to light (#ededed)
*/
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), var(--font-nunito), var(--font-raleway), sans-serif;
}
